<header>
  <h3>
    Old lock information for digest <%= @digest %> <a class="btn btn-default btn-xs" href="<%= root_path %>old_locks">Back</a>
  </h3>
</header>

<h4>Retry set data </h4>

<% @retry_set_data.each_with_index do |entry, index| %>
  <h5>Entry <%= index + 1 %> of <%= @retry_set_data.size %></h5>
  <p>
    <a href="<%= root_path %>retries/<%= entry.delete(:retries_param) %>">
      View in retries tab
    </a>
  </p>
  <div class="table_container">
    <table class="table table-striped table-bordered table-hover">
      <tbody>
        <% entry.entries.each do |key, value| %>
          <tr class="lock-row">
            <th><%= key %></th>
            <td>
              <% if key == :queue %>
                <a href="<%= root_path %>queues/<%= value %>"><%= value %></a>
              <% elsif key.in?(%i[class error_class]) %>
                <code><%= value %></code>
              <% elsif key.in?(%i[args lock_args]) %>
                <pre><%= value %></pre>
              <% else %>
                <%= value %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
