<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {packages:["orgchart", "timeline"]});
  google.charts.setOnLoadCallback(drawChart);

  var links = <%=raw @presenter.expanded_links.to_json %>;
      states = <%=raw @presenter.states.to_json %>,
      events = <%=raw @presenter.event_timeline.to_json %>,
      event_timeline,
      event_table,
      links_chart,
      links_table;

  function drawChart() {
    var eventColumns = [
      { type: 'string', id: 'event' },
      { type: 'string', id: 'id' },
      { type: 'string', role: 'tooltip' },
      { type: 'date', id: 'start' },
      { type: 'date', id: 'end' }
    ];

    var states_table = createTable([['base_path', 'string'], ['link', 'string'], ['content_id', 'string']]),
        states_chart = new google.visualization.OrgChart(document.getElementById('states_chart_div')),
        event_dates = events.map(function(event){ return [event[0], event[1], event[2], new Date(event[3]), new Date(event[4])] });

    event_timeline = new google.visualization.Timeline(document.getElementById('events_chart_div'));
    event_table = createTimelineTable(eventColumns);
    links_chart = new google.visualization.OrgChart(document.getElementById('links_chart_div')),
    links_table = createTable([['base_path', 'string'], ['link', 'string'], ['content_id', 'string']]),

    links_table.addRows(links);
    states_table.addRows(states);
    event_table.addRows(event_dates);

    links_chart.draw(links_table, {allowHtml:true});
    states_chart.draw(states_table, {allowHtml:true});

    google.visualization.events.addListener(links_chart, 'select', selectLinksHandler);
    google.visualization.events.addListener(event_timeline, 'select', selectHandler);

    event_timeline.draw(event_table, {allowHtml:true, tooltip: {trigger: 'selection'}});
  };

  function selectLinksHandler(a,b,c,d) {
    selection = links_chart.getSelection()[0].row;
    data = links_table.getValue(selection, 0);
  }

  function selectHandler() {
    selection = event_timeline.getSelection()[0].row;
    data = event_table.getValue(selection, 2);
    events = document.getElementsByClassName('events');

    for (i = 0; i < events.length; i++) {
      events[i].style.backgroundColor = "#fff";
    }

    el = document.getElementById(data);
    el.style.backgroundColor = '#E2B4B4';
    el.scrollIntoView();
  }

  function createTimelineTable(columns) {
    var table = new google.visualization.DataTable();
    columns.forEach(function(column) {
      table.addColumn(column);
    });
    return table;
  }

  function createTable(columns) {
    var table = new google.visualization.DataTable();
    columns.forEach(function(column) {
      table.addColumn(column[1], column[0]);
    });
    return table;
  };
</script>

<div style="width: 90%; margin: auto;">
  <h2 style='text-align:center'>links</h2>
  <div id="links_chart_div"></div>
  <h2 style='text-align:center'>states</h2>
  <div id="states_chart_div"></div>
  <h2 style='text-align:center'>events</h2>
  <div id="events_chart_div" ></div>

  <h3>Title</h3>
  <div>
    <%= @presenter.title  %>
  </div>

  <h3>Web</h3>
  <%= link_to 'web', @presenter.web_url  %>

  <h3>JSON</h3>
  <%= link_to 'json', @presenter.api_url  %>

  <h3>Current state</h3>
  <%= @presenter.latest_state_with_locale %>

  <h3>User facing verisons</h3>
  <%= @presenter.user_facing_versions %>

  <h3>Events</h3>
  <% @presenter.events.each do |event| %>
    <div class='events' id="<%= event.id  %>">
      <p><b><%= event.action %></b>, <%= event.created_at.strftime("%Y-%m-%d %H:%I:%S") %><br />
      <span class='payload' >
        <% event.payload.each do |k,v| %>
          <%= k %>: <%= v %> <br />
        <% end %>
      <span>
      </p>
    </div>
  <% end %>
</div>
